* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}

html,
body {
  height: 100%;
  width: 100%;
}

#main {
  height: 100vh;
  width: full;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 24px;
}

.Form {
  padding: 14px;
  background: #945fff;
  color: white;
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
  border-radius: 8px;
}
.Form input {
  padding: 8px 18px;
  border-style: none;
  border-radius: 6px;
  background: #f4e2ff;
  cursor: pointer;
}

.Card {
  max-width: 200px;
  height: 270px;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid gray;
  background: #69d2ff;
}

img {
  height:180px;
  width: 180px;
  border-radius: 6px;
}
